

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container .form{
    padding: 40px 60px;
    background-color: red;
    border-radius: 15px;
    margin-bottom: 60px;
}
.container .form-inner{
    display: flex;
    flex-direction: column;
    margin: 20px 0;

}
.container .form-inner input{
    padding: 5px 10px;
    border-radius: 3px;
    border: green;

}
.container-card{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.card{
    padding: 30px;
    width: 21%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 12px;
    margin: 20px;
}
.card-inner{
    display: flex;
}
.card-inner p{
    margin: 5px 0;   
}
